# Python 
__pycache__/ 
*.py[cod] 
*$py.class 
*.so 
.Python 
env/ 
venv/ 
ENV/ 
.venv/ 
*.egg-info/ 
dist/ 
build/ 
instance/ 
.webassets-cache 
.env 
static/uploads/* 
!static/uploads/.gitkeep 
test_output/ 
test_output_with_weights/ 
.ipynb_checkpoints/ 
.vscode/ 
.idea/ 
.DS_Store 
Thumbs.db 
*.log 
*.tmp 
*.bak 
u2net/*.pth 
u2net/weights/*.pth 

